<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ControlTemplateWindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GacOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GacStaticLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ID3Convert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>884BAFED1A304BA1007DF242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>884BB0001A304BA1007DF242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>884BC1701A3298F1007DF242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>884BC1821A3298F1007DF242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8883496D1A456CCE00B4E711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>888349DF1A456E0600B4E711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>888349F11A456E0600B4E711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AD45E31A6EE53C009C1AD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AD45F51A6EE53C009C1AD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
