@model GaclibWebPage.Models.NavigationBarModel

@{
    ViewBag.Title = "GacLib - Contact";
}

<tr>
    <td align="left" valign="top" colspan="6">
        <table class="ContentTable" cellpadding="0" cellspacing="20">
            <tr>
                <td align="right" valign="top">Developer:</td>
                <td align="left" valign="top">陈梓瀚(vczh)</td>
            </tr>
            <tr>
                <td align="right" valign="top">Email:</td>
                <td align="left" valign="top">vczh(at)163.com</td>
            </tr>
            <tr>
                <td align="right" valign="top">Blog:</td>
                <td align="left" valign="top">
                    <a href="http://www.cppblog.com/vczh" target="_blank">http://www.cppblog.com/vczh</a>&nbsp;&nbsp;(Chinese)<br />
                </td>
            </tr>
        </table>
    </td>
</tr>